<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Properties</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- styles with bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
	<h1>Add a new property</h1>
	<div>
		<form th:object="${form}" th:action="@{saveMultiple}" action="#" method="post">
			<fieldset>
				<input type="submit" th:value="Save">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Street</th>
							<th>Number</th>
							<th>Postalcode</th>
							<th>City</th>
							<th>Country</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="property, itemStat : *{properties}">
							<td><input th:field="*{properties[__${itemStat.index}__].name}" /></td>
							<td><input th:field="*{properties[__${itemStat.index}__].street}" /></td>
							<td><input th:field="*{properties[__${itemStat.index}__].number}" /></td>
							<td><input th:field="*{properties[__${itemStat.index}__].postalcode}" /></td>
							<td><input th:field="*{properties[__${itemStat.index}__].city}" /></td>
							<td><input th:field="*{properties[__${itemStat.index}__].country}" /></td>
							<td><input th:field="*{properties[__${itemStat.index}__].desc}" /></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</form>
	</div>
</body>
</html>