<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Property Viewer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<!-- styles with bootstrap-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="col-md-4">
		<h1>Properties</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">list of [[${#httpServletRequest.remoteUser}]]'s properties</h3>
		<p th:text="${coordinates}"></p>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Log out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>property</th>
		    <th>street</th>
            <th>number</th>
            <th>postalcode</th>
            <th>city</th>
            <th>country</th>
		    <th>description</th>
		</tr>  
    	<tr th:each = "property : ${properties}">
    		<td th:text="${property.name}"></td>
    		<td th:text="${property.street}"></td>
    		<td th:text="${property.number}"></td>
    		<td th:text="${property.postalcode}"></td>
            <td th:text="${property.city}"></td> 
            <td th:text="${property.country}"></td> 
            <td th:text="${property.desc}"></td>
            <td><a th:href="@{/edit/{id}(id=${property.id})}" class="btn btn-xs btn-success">Edit</a></td>
			<td><a th:href="@{/coordinates/{name}(name=${property.name})}" class="btn btn-xs btn-success">Coordinates</a></td>	
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${property.id})}" class="btn btn-xs btn-danger">Delete</a></td>
    	</tr>
     </table>
	 <a href="/add" class="btn btn-primary">Add property</a>
</div>	    	
</body>
</html>